
    {% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block title %}Hunter X Hunter - Change Email Address{% endblock %} {% block page_content %}
    <div class="page-header" style="border-radius: 25px; padding: 3px;background-color: #d63530;margin-right: 390px;margin-left: 390px;font-family: cursive; margin-top: 200px;border: 1px solid #000;">
        <h1 style="color: rgb(32, 30, 30);margin-left: 68px;margin-bottom: 20px; ">Change Email</h1>
    </div>
    <div class="col-md-4 col-lg-offset-4">
        <form action="" method="post">
            {{ wtf.quick_form(form) }}
        </form>
    </div>
    {% endblock %}
