<div style="background-color: antiquewhite;">
    {% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block title %}Flasky - Register{% endblock %} {% block page_content %}
    <div class="page-header" style="border-radius: 25px; padding: 3px;background-color: #c45b57;margin-right: 390px;margin-left: 390px;font-family: cursive;">
        <h1 style="color: rgb(32, 30, 30);margin-left: 110px;margin-bottom: 20px; ">Sign Up</h1>
    </div>
    <div class="col-md-4 col-lg-offset-4">
        <form action="" method="post">
            {{ wtf.quick_form(form) }}
        </form>
    </div>
    {% endblock %}
</div>