.list-cmt{
    list-style-type:None;
    padding: 10px;
    font-family: cursive;
    background-color: rgb(221, 221, 221);
    box-shadow: #5E5DF0 0 10px 20px -10px;
    border-radius: 10px;
    padding-bottom: 20px;

}
.bg-content{
    padding: 25px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: rgb(221, 221, 221);
    box-shadow: #5E5DF0 0 10px 20px -10px;
  }
  .bg-content1{
    padding: 25px;
    border: 2px solid #f2f2f2;
    margin-bottom: 10px;
    background-color: rgb(221, 221, 221);
    box-shadow: #5E5DF0 0 10px 20px -10px;
  }
  td,th{
    border: 1px solid #f2f2f2;
  }
.bg-o-cmt{
    padding: 10px;
    background-color: darkblue;
    box-shadow: #5E5DF0 0 10px 20px -10px;
}
.cmt-border{
    background-color: rgb(141, 209, 186);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
}
.date-cmt{
    font-weight:lighter;
    color:#4e4e4e
}
.body-cmt{
    padding: 10px;
    font-size: 15px;
}
.name-cmt{
    font-weight: 600;
    color: rgb(72, 5, 197);
    font-size: 15px;
}
.cmt-cnt{
    margin-left: 15px;
    margin-bottom: 5px;
}