
.img-avt{
    border-radius: 50%;
    border: 2px double #b1154a;
    margin: 10px;
    width: 60px; 
    height: 60px;
}
.bg-post{
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    list-style-type:None;
    padding: 10px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    background-color: rgb(221, 221, 221);
}
.postss{
    border: 1px solid #f2f2f2;
    font-family: cursive;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    
}
.bg-o-post{
    background-color: #97c9e5;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}
.tabs{
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
}
.header{
    display: flex;
}
.date{
    font-weight:lighter;
    color:#4e4e4e
}
.body{
    padding: 10px;
    font-size: 20px;
}
.name{
    font-weight: 600;
    color: rgb(72, 5, 197);
    font-size: 20px;
}
.button-edit{
      background: #e44040;
      border-radius: 999px;
      box-shadow: #5E5DF0 0 10px 20px -10px;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      opacity: 1;
      outline: 0 solid transparent;
      padding: 8px 18px;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: fit-content;
      word-break: break-word;
    border: 0;
}

.button-cmt {
    background: #0f7fc9;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: cursive;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.button-like {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: cursive;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
.button-nav{
    color: rgb(136, 4, 15);
    background-color: #40a2e4;
}
.topnav {
    position: inherit;
    overflow: hidden;
    background-color: #3b6fb8;  
    border-radius:5px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    overflow: hidden;
  }
  
  .topnav a:hover {
      border-radius: 15px;
    overflow: hidden;
    background-color: #97c9e5;
    color: black;
  }
  
.nav2{
    list-style-type: none;
    padding: 0px;
}
  
  .btn-default {
    background-color: #111827;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: cursive;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.5rem;
    padding: 10px;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
  }
  
  .btn-default:hover {
    background-color: #7aa5eb;
  }

  .btn-default:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  
  @media (min-width: 768px) {
    .btn-default {
      padding: .75rem 1.5rem;
    }
}
button:hover,img:hover {
  transform: scale(1.1);
  transition-duration: 500ms;
}