<ul class="comments list-cmt">
    {% for comment in comments %}
    <li class="comment cmt-border bg-o-post postss">
        <div class="comment-thumbnail header">
            <a href="{{ url_for('.user', username=comment.author.username) }}">
                <img class="img-avt" style="width: 50px; height: 50px;" src="https://ih1.redbubble.net/image.2143420954.5736/st,small,507x507-pad,600x600,f8f8f8.jpg">
            </a>
            <div style="padding-top: 15px;">
                <div class="name-cmt"><a href="{{ url_for('.user', username=comment.author.username) }}">{{ comment.author.username }}</a></div>
                <div class="date-cmt">{{ moment(comment.timestamp).fromNow() }}</div>
              </div>
        </div>
        <div class="comment-content cmt-cnt">
           
            <div class="comment-body ">
                {% if comment.disabled %}
                <p><i>This comment has been disabled by a moderator.</i></p>
                {% endif %}
                {% if moderate or not comment.disabled %}
                    {% if comment.body_html %}
                        {{ comment.body_html | safe }}
                    {% else %}
                        {{ comment.body }}
                    {% endif %}
                {% endif %}
            </div>
            {% if moderate %}
                <br>
                {% if comment.disabled %}
                <a class="btn btn-default btn-xs"href="{{ url_for('.moderate_enable', id=comment.id, page=page) }}">Enable</a>
                {% else %}
                <a class="btn btn-default btn-xs" style="background-color: rgb(202, 18, 18) ;" href="{{ url_for('.moderate_disable', id=comment.id, page=page) }}">Disable</a>
                {% endif %}
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>