

{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Hunter X Hunter{% endblock %}

{% block page_content %}
<div style="margin-top: 100px; border-radius: 15px;border: 1px solid #000; padding: 30px; background-color: #3b6fb8; margin-bottom: 20px; font-family: cursive; box-shadow: #5E5DF0 0 10px 20px -10px;color: #fff;">
    {% if current_user.can(Permission.WRITE) %}
    {{ wtf.quick_form(form) }}
    {% endif %}
</div>
<div class="tabs">
    <ul class="nav2 nav-tabs topnav" style="padding: 10px; border: 1px solid #000; border-radius: 15px;">
        <li{% if not show_followed %} class="active" {% endif %}><a href="{{ url_for('.show_all') }}" style="font-family: cursive; overflow: hidden;">All</a></li>
        {% if current_user.is_authenticated %}
        <li{% if show_followed %} class="active" {% endif %}><a  href="{{ url_for('.show_followed') }}" style="font-family: cursive; overflow: hidden;">Followed</a></li>
        {% endif %}
    </ul>
    {% include '_posts.html' %}
</div>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}

